* {
    box-sizing: border-box;
    margin: 0;
}

div.home div.item {
    background-color: brown;
}

div.home div.iner {
    /* width: 25%; */
    /* background-color: blue; */
    padding-inline: 5px;
    padding-bottom: 10px;
}

div.home div.item img {
    width: 100%;
}

@media screen and (min-width:768px) {
    div.home {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.home div.iner {
        width: 50%;
        /* background-color: blue; */
        padding-inline: 10px;
        padding-bottom: 20px;
    }
}
@media screen and (min-width:1028px) {
    

    div.home div.iner {
        width: 33.3%;
        /* background-color: blue; */
    }
}
@media screen and (min-width:1280px) {
    

    div.home div.iner {
        width: 25%;
        /* background-color: blue; */

    }
}