/* start global style */
* {
    box-sizing: border-box;
    margin: 0;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    color: inherit;
}

/* End global style */

/* ---- start navbar Style ----------- */
div.navbar div.navlogo {
    background-color: aqua;
    height: 11px;
}

div.navbar div.navlink {
    background-color: chocolate;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

div.navbar div.navlink ul li
{
}

/* ---- End navbar Style------------ */

/*---------------------------------------------------------------------*/

/* ---- Start Header Style------------ */
div.header {
    height: 100vh;
    background-image: url(../images/hero\ img.jpg);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-position: center;
}


/* ---- End Header Style------------ */


@media screen and (min-width:768px) {}

@media screen and (min-width:1028px) {}

@media screen and (min-width:1280px) {}