/* start global style */
* {
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* End global style */

/* start navbar style */
nav {
    background-color: rgb(245, 248, 248);
    display: flex;
    justify-content: space-around;
    padding-inline: 100px;
    padding: 20px 0 20px 0;
}

nav div.navlogo a h1 {
    font-size: 30px;
    font-weight: bold;
}

nav div.navlogo a h1 span {
    color: brown;
}

nav div.navlink ul {
    display: flex;
    width: 400px;
    padding-top: 10px;
    justify-content: space-around;
}

nav div.navlink ul li {
    position: relative;
    padding-bottom: 6px;
    overflow: hidden;
}

nav div.navlink ul li a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(223, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
}

nav div.navlink ul li a:hover::before {
    transform: translateX(0);
}

nav i {
    font-size: 24px;
    text-align: center;
}


/* End navbar style */

/* --------------------------------------------------------- */

/* Start home style */

header div.home {
    /* background-color: rgb(85, 21, 63); */
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-inline: 200px;
    background-color: rgb(238, 238, 238);
    padding: 100px;
}

header div.home-content {
    width: 50%;
    padding-top: 100px;
}

header div.home div.home-content h2 {
    font-size: 50px;
}

header div.home div.home-content p {
    font-size: 20px;
}

header div.home div.home-content div.home-buttom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 15px;
    background-color: rgb(194, 183, 183);
    width: 400px;

}

/* btn-main */
header div.home div.home-content div.home-buttom a.btn-main {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 0 20px 20px 20px;
    transition: background-color 500ms;
    background-color: #b12929;
}

header div.home div.home-content div.home-buttom a.btn-main:hover {
    background-color: #ff0000;
}

header div.home div.home-content div.home-buttom a.btn-main::after {
    content: "";
    width: 10px;
    height: 15px;

}

/* btn video */
header div.home div.home-content div.home-buttom a.btn-video {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: color 500ms;
}

header div.home div.home-content div.home-buttom a.btn-video:hover {
    color: #ff0000;
}

/* icon in - btn video */

header div.home div.home-content div.home-buttom div.btn-video a i 
{
font-size: 30px;  
}
header div.home div.home-img {
    width: 40%;
}

header div.home div.home-img img {
    width: 100%;

}

/* End home style */





@media screen and (min-width:1280px) {}